// IMPORT BOOTSTRAP STYLES: https://getbootstrap.com/docs/5.3/customize/sass/
@import "bootstrap/scss/bootstrap";
// IMPORT CUSTOM GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* FONTS */
  --font-title-primary: "Archivo Black", sans-serif;
  --font-title-secondary: "Roboto", sans-serif;
  --font-text: "Ubuntu", sans-serif;

  /* BASE COLORS */
  --color-black-pure: #000;
  --color-white-pure: #fff;

  /* PALETTE COLORS */
  --color-primary: red;
  --color-secondary: gray;
  --color-tertiary: gray;
  --color-quaternary: gray;
  /* SHADE COLORS */
  --color-shade-primary: rgb(206, 1, 1);

  /* OTHERS VARIANTS */
  --cap-overlay: rgba(0, 0, 0, 0.7);
  /* BACKGROUNDS & TEXTURES */

  /* GLOBAL ANIMATIONS */
}

* {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-black-pure);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar custom */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2rem;
}

h1, a {
  font-family: var(--font-title-primary);
}

h2,
button {
  font-family: var(--font-title-secondary);
  font-weight: 900;
}

p,
h3,
::placeholder {
  font-family: var(--font-text);
}

/* ELEMENTS BROWSER STYLES OFF */
p {
  word-wrap: break-word;}

a {
  text-decoration: none;
}

svg {
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

h3,
a,
input,
textarea {
  letter-spacing: 0.05rem;
}

img,
svg,
button {
  -webkit-user-select: none;
  user-select: none;
}

button {
  border: none;
}

input,
textarea:focus {
  outline: none;
}

/* CUSTOM URL FONTS */

@font-face {
  font-family: Star;
  src: url(/public/assets/font/title/G7StarForce.woff2) format('woff2');
}